Repository sjalloq/bsa-pcie-exerciser: changes, and which pre-commit hooks are due for each by the changed paths.
All: signals.gtkw, check-copyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        types: [text]
        exclude: '.*\.(xml|drawio|svg|pgm)'
      - id: end-of-file-fixer
        exclude: '.*\.(xml|drawio|svg|pgm)'
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: signals.gtkw
        name: Remove absolute paths from gtkw files
        entry: ./hooks/gtkw.py
        language: python
        files: '.*\.gtkw$'

      - id: check-copyright
        name: Check copyright headers
        entry: ./hooks/check_copyright.py
        language: python
        types: [python]
        exclude: |
          (?x)^(
            docs/source/conf\.py|
            src/bsa_pcie_exerciser/gateware/usb/core\.py|
            src/bsa_pcie_exerciser/gateware/usb/ft601\.py|
            external/.*
          )$

Updating docs
  docs/source/bsa/acs_gap_analysis.rst
  docs/source/bsa/overview.rst
  docs/source/bsa/registers.rst
  docs/source/bsa/testcases.rst
  docs/source/implementation/architecture.rst
  docs/source/implementation/ats.rst
  docs/source/implementation/config_space.rst
  docs/source/implementation/endpoint.rst
  docs/source/implementation/index.rst
  docs/source/implementation/monitor.rst
  docs/source/litepcie/modifications.rst
  docs/source/litepcie/pcie_7x_ip_properties.txt
  docs/source/platforms/ft601.rst
  src/bsa_pcie_exerciser/gateware/usb/monitor_bridge.py
Due: check-copyright

Testbench fixes and doc updates
  README.md
  docs/source/bsa/acs_gap_analysis.rst
  docs/source/bsa/testcases.rst
  tests/common/phy_stub.py
  tests/common/tlp_builder.py
  tests/integration/test_ats.py
  tests/usb/tb_usb.py
  tests/usb/test_ats_invalidation.py
Due: check-copyright

Fix timing path
  hooks/check_copyright.py
  src/bsa_pcie_exerciser/gateware/platform/spec_a7.py
  src/bsa_pcie_exerciser/gateware/platform/squirrel.py
  src/bsa_pcie_exerciser/gateware/usb/etherbone.py
Due: check-copyright

Timing fixes and GTP constraint fixes
  src/bsa_pcie_exerciser/gateware/platform/squirrel.py
  src/bsa_pcie_exerciser/gateware/soc/base.py
  src/bsa_pcie_exerciser/gateware/soc/squirrel.py
  src/bsa_pcie_exerciser/gateware/usb/etherbone.py
  src/bsa_pcie_exerciser/gateware/usb/monitor/top.py
  tests/common/phy_stub.py
  tests/common/platform.py
Due: check-copyright

Fix Python import paths after dir move
  tbench/common/__init__.py
  tbench/integration/README.md
  tbench/integration/tb_integration.py
  tbench/integration/test_ats.py
  tbench/integration/test_byte_enables.py
  tbench/integration/test_intx.py
  tbench/integration/test_monitor.py
  tbench/integration/test_random.py
  tbench/integration/test_registers.py
  tbench/usb/tb_usb.py
  tbench/usb/test_arbiter.py
  tbench/usb/test_ats_invalidation.py
  tbench/usb/test_cdc.py
  tbench/usb/test_corner_cases.py
  tbench/usb/test_dma_ordering.py
  tbench/usb/test_etherbone.py
  tbench/usb/test_golden_reference.py
  tbench/usb/test_monitor_rx.py
  tbench/usb/test_monitor_timing.py
  tbench/usb/test_monitor_tx.py
  tbench/usb/test_pasid_switching.py
  tbench/usb/test_requester_id.py
  tbench/usb/test_stress.py
Due: check-copyright

Move to uv for venv creation
  pyproject.toml
  sourceme
Due: none

Fix platform differences
  Makefile
  src/bsa_pcie_exerciser/bsa_pcie_exerciser.py
Due: check-copyright

Fix USB subsystem
  .gitignore
  src/bsa_pcie_exerciser/gateware/soc/squirrel.py
  src/bsa_pcie_exerciser/gateware/usb/__init__.py
  src/bsa_pcie_exerciser/gateware/usb/etherbone.py
  src/bsa_pcie_exerciser/gateware/usb/etherbone_adapter.py
  src/bsa_pcie_exerciser/gateware/usb/ft601.py
  tbench/common/usb_bfm.py
  tbench/etherbone/Makefile
  tbench/etherbone/tb_etherbone.py
  tbench/etherbone/test_basic.py
  tbench/etherbone/waves.gtkw
Due: signals.gtkw, check-copyright

Tidy up of CSRs
  src/bsa_pcie_exerciser/gateware/ats/engine.py
  src/bsa_pcie_exerciser/gateware/ats/invalidation.py
  src/bsa_pcie_exerciser/gateware/config/pcie_config.py
  src/bsa_pcie_exerciser/gateware/core/multibar_endpoint.py
  src/bsa_pcie_exerciser/gateware/dma/engine.py
  src/bsa_pcie_exerciser/gateware/dma/handler.py
  src/bsa_pcie_exerciser/gateware/msix/integration.py
  src/bsa_pcie_exerciser/gateware/msix/table.py
Due: check-copyright

Bump Etherbone FIFO depth for read capacity
  Makefile
  src/bsa_pcie_exerciser/gateware/soc/squirrel.py
Due: check-copyright

WIP
  .gitignore
  software/Cargo.lock
  software/Cargo.toml
  software/src/bin/debug_usb.rs
  software/src/bin/eb.rs
  software/src/bin/ft601_config.rs
  software/src/bin/litex-server.rs
  software/src/etherbone.rs
  software/src/lib.rs
  software/src/usb.rs
Due: none
